<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>Dashboard</title>
    <meta name="description" content="Bootstrap Testing">
    <meta name="keywords" content="Test, Student, coding, template, html" />
    {% include "inc/header_files.html" %}
</head>

<body>

    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="header-large-title text-center">
            <img src="{{ url_for('mobileapp.static',filename='assets/img/pc.png') }}" alt="" width="200"
                style="text-align: center;">
            <h1 class="title">Princess Computer</h1>
            <h4 class="subtitle">We provide quality training.</h4>
        </div>



        <div class="section mt-3 mb-3">
            <div class="card">
                <div class="card-body d-flex justify-content-between align-items-end">
                    <div>
                        <h6 class="card-subtitle">Income-Expense</h6>
                        <h5 class="card-title mb-0 d-flex align-items-center justify-content-between">
                            Monthwise Comparison
                        </h5>
                    </div>
                </div>
                <div>
                    <canvas id="myChart" width="400" height="600"></canvas>
                </div>

            </div>
        </div>

        <!-- <div class="section mt-3 mb-3">
            <div class="card">
                <img src="{{ url_for('mobileapp.static',filename='assets/img/sample/photo/wide4.jpg') }}"
                    class="card-img-top" alt="image">
                <div class="card-body">
                    <h6 class="card-subtitle">Demo</h6>
                    <h5 class="card-title">Demo</h5>
                    <p class="card-text">
                        Description will be coming here.
                    </p>
                    <a href="404.html" class="btn btn-primary">
                        <ion-icon name="cube-outline"></ion-icon>
                        Show 404
                    </a>
                </div>
            </div>
        </div> -->

    </div>
    <!-- * App Capsule -->


    <!-- App Bottom Menu -->
    {% include "inc/bottom_menu.html" %}
    <!-- * App Bottom Menu -->

    {% include "inc/left_menu.html" %}


    {% include "inc/footer_files.html" %}

    <!-- <script src="{{ url_for('mobileapp.static',filename='assets/js/chartjs_graph.js') }}"></script> -->
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% if monthwise_dict %}{% for month in monthwise_dict.keys() %}{{ month }},{% endfor %}{% endif %}],
        datasets: [{
            label: 'Income',
            data: [{% if monthwise_dict %}{% for month in monthwise_dict.values() %}{{ month }},{% endfor %}{% endif %}],
            backgroundColor: [
                'rgba(54, 162, 235, 0.8)',
                'rgba(75, 192, 192, 0.8)'
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            borderWidth: 1
        },
        {
            label: 'Expense',
            data: [{% if expense_dict %}{% for month in expense_dict.values() %}{{ month }},{% endfor %}{% endif %}],
            backgroundColor: [
                'rgba(54, 162, 235, 0.8)',
                'rgba(75, 192, 192, 0.8)',
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            borderWidth: 1
        }
        ]
    },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            indexAxis: 'y'
        }
});
    </script>
</body>

</html>