<!-- ============== Js Files ==============  -->
<!-- Bootstrap -->
<script src="{{ url_for('mobileapp.static',filename='assets/js/lib/bootstrap.min.js')}}"></script>
<!-- Ionicons -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<!-- Splide -->
<script src="{{ url_for('mobileapp.static',filename='assets/js/plugins/splide/splide.min.js')}}"></script>
<!-- ProgressBar js -->
<script src="{{ url_for('mobileapp.static',filename='assets/js/plugins/progressbar-js/progressbar.min.js')}}"></script>
<!-- Base Js File -->
<!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script>
    var goBack = document.querySelectorAll('.goBack');
    goBack.forEach(element => {
        element.addEventListener('click', () => {
            history.back();
        })
    });
    toastr.options = {
        closeButton: true,
        preventDuplicates: false,
        positionClass: "toast-bottom-full-width"
    }
</script>