<link rel="icon" type="image/png" href="{{ url_for('mobileapp.static',filename='assets/img/favicon.png') }}"
    sizes="32x32">
<link rel="apple-touch-icon" sizes="180x180"
    href="{{ url_for('mobileapp.static',filename='assets/img/icon/192x192.png') }}">
<link rel="stylesheet" href="{{ url_for('mobileapp.static',filename='assets/css/style.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">